{{#partial "content"}}
    <div class="feedback">
    <img src="/images/zebra.jpg" height="400px" width="100%" background-position="cover">
    <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSexI4TK0x2ALsWi3yA81kKPfxPsGRPC90enQIwbtfY77lirDg/viewform?embedded=true"
            style="position:fixed; top:25vh; left:0; bottom:0;right:0; width:100%; height:80vh; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"
    >Loading...
    </iframe>
    </div>
{{/partial}}
{{>layout.hbs}}