{{#partial "content"}}
    <div class="container text-center"
         style="background-color: rgba(255,255,255,0.5);background-color:#00c851; background-size: cover;">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 ">
                <br> <br>
                <h1 style="font-family: 'Poiret One', cursive; font-size:70px;"><strong>Sign Up</strong>
                </h1>

                <form action='/done' method="post">


                    <div class="form-group">
                        <label for="ranger" style="font-family: 'Poiret One', cursive;font-size:20px;color:white;"><strong>
                            Ranger
                            Name: </strong></label>
                        <input id="name" name="name" class="form-control" type="text" required>
                    </div>


                    <div class="form-group">
                        <label for="gender"
                               style="font-family: 'Poiret One', cursive;font-size:20px;color:white;"><strong>Gender:</strong></label>
                        <input id="gender" name="gender" class="form-control" type="text" required>
                    </div>


                    <div class="form-group">
                        <label for="badge"
                               style="font-family: 'Poiret One', cursive;font-size:20px; color:white;"><strong>Badge
                            Number:</strong></label>
                        <input id="number" name="number" class="form-control" type="text" required>
                    </div>


                    <div class="form-group">
                        <label for="contact"
                               style="font-family: 'Poiret One', cursive;font-size:20px;color:white;"><strong>Contact:</strong></label>

                        <input id="contact" name="contact" class="form-control" type="text" required>
                    </div>
                    <div class="form-group">
                        <label for="site"
                               style="font-family: 'Poiret One', cursive;font-size:20px;color:white;"><strong>Site
                            Allocated:</strong></label>
                        <input id="site" name="site" class="form-control" type="text" required>
                    </div>

                    <br> <br>
                    <button type="submit" class="btn btn-success">Add Ranger</button>
                </form>
            </div>


            <div class="col-md-3"></div>
        </div>
    </div>
{{/partial}}
{{>layout.hbs}}