{{#partial "content"}}


    <form action='/done' method="post">
        <section class="form-dark form">


            <div class="card card-image form"
                 style="background-image: url('https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjbmYTH2JjjAhVMJBoKHZoNCScQjRx6BAgBEAU&url=http%3A%2F%2Fwww.renegadetribune.com%2Fnature-the-beginning%2F&psig=AOvVaw0AHbe0aeuxAI8TTOdwJfSv&ust=1562241286134280'); width: 30rem;">
                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">


                    <div class="text-center">
                        <h3 class="white-text mb-5 mt-4 font-weight-bold">SIGN<a class="green-text font-weight-bold"> UP</a>
                        </h3>
                    </div>


                    <div class="md-form">
                        <input type="text" name="name" id="name" class="form-control white-text">
                        <label for="Form-ranger5">Ranger Name</label>
                    </div>

                    <div class="md-form">
                        <input type="text" name="gender" id="gender" class="form-control white-text">
                        <label for="Form-ranger5">Gender</label>
                    </div>


                    <div class="md-form">
                        <input type="text" name="number" id="number" class="form-control white-text">
                        <label for="Form-ranger5">Badge Number</label>
                    </div>

                    <div class="md-form">
                        <input type="text" name="contact" id="contact" class="form-control white-text">
                        <label for="Form-ranger5">Contact</label>
                    </div>

                    <div class="md-form">
                        <input type="text" name="site" id="site" class="form-control white-text">
                        <label for="Form-ranger5">Site Allocated</label>
                    </div>

                    <div class="row d-flex align-items-center mb-4">
                        <div class="text-center mb-3 col-md-12">
                            <button type="button" class="btn btn-success btn-block btn-rounded z-depth-1">Sign in</button>
                        </div>

                    </div>

                    <div class="col-md-12">
                        <p class="font-small white-text d-flex justify-content-end">Have an account? <a href="#"
                                                                                                        class="green-text ml-1 font-weight-bold"> Log in</a></p>
                    </div>

                </div>
            </div>


        </section>
    </form>


{{/partial}}
{{>layout.hbs}}