{{#partial "content"}}

    <div id="sighting">
        <h2></h2><br>
        <h2></h2><br>
        <div class="container card-bundle">
            <div class="row">
                <div class="card-deck">
                    <div class="card" style="width: 25rem;">
                        <img class="card-img-top" src="/images/giraffe.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">North West</p>
                            <p class="card-text" style="font-family: 'Poiret One', cursive;"><strong>There are Graceful
                                Giraffes
                                located at the North West Region of the Ole Sereni Park. They
                                enjoy the calm and peaceful environment designated for them. They love human visitation
                                so long
                                as you don't
                                invade their space!</strong></p>

                        </div>
                    </div>


                    <div class="card" style="width: 25rem;">
                        <img class="card-img-top" src="/images/kenya.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">North East</p>
                            <p class="card-text" style="font-family: 'Poiret One', cursive;"><strong>At the North East
                                Region, you can find all the zebras and see their beautiful body
                                marks</strong></p>

                        </div>
                    </div>
                    <br>
                    <div class="card" style="width: 25rem;">
                        <img class="card-img-top" src="/images/chimp.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">South East</p>
                            <p class="card-text" style="font-family: 'Poiret One', cursive;"><strong>Our little chimpanzee
                                will be really happy is you come and visit him so that he shows you his family! They are
                                crazy over bananas</strong></p>

                        </div>
                    </div>
                    <div class="card" style="width: 25rem;">
                        <img class="card-img-top" src="/images/cub.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">South West</p>
                            <p class="card-text" style="font-family: 'Poiret One', cursive;"><strong>Our little cubs are our
                                big pride. Nature is so beautiful that family instance is visible everywhere.</strong>
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{{/partial}}
{{>layout.hbs}}