{{#partial "content"}}
    <div class="species">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-6 ">
                    <br> <br>
                    <h1 style="font-family: 'Poiret One', cursive; font-size:70px;"><strong>Animal</strong>
                    </h1>

                    <form action='/done' method="post">


                        <div class="form-group ranger">
                            <label for="ranger" style="font-family: 'Poiret One', cursive;font-size:20px;color:white;"><strong>
                                Name: </strong></label>
                            <input id="name" name="name" class="form-control" type="text" required>
                        </div>


                        <div class="form-group">
                            <label for="badge"style="font-family: 'Poiret One', cursive;font-size:20px; color:white;"><strong>Type:
                               </strong></label>
                            <input id="type" name="type" class="form-control" type="text" required>
                        </div>


                        <div class="form-group">
                            <label for="contact"style="font-family: 'Poiret One', cursive;font-size:20px;color:white;"><strong>Condition:</strong></label>

                            <input id="condition" name="condition" class="form-control" type="text" required>
                        </div>
                        <br> <br>
                        <button type="submit" class="btn btn-success">Add Animal</button>
                    </form>
                </div>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{{/partial}}
    {{>layout.hbs}}
